<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Who am I</h2>
                    <h3 class="section-subheading text-muted">My name is Derek and I am a Computer Information Systems graduate pursuing career in Software Engineering.</h3>
                </div>
            </div>
            <div class="row">
                {% for member in site.people %}
                <div class="col">
                    <div class="team-member">
                        <img src="img/team/{{ member.pic }}.jpg" class="img-responsive img-circle" alt="">
                        <h3>{{ member.name }}</h3>
                        <p class="text-muted">{{ member.position }}</p>
                        <ul class="list-inline social-buttons">
                            {% for network in member.social %}
                            <li>
                                <a href="{{ network.url }}">
                                    <i class="fa fa-{{ network.title }}"></i>
                                </a>
                            </li>
                            {% endfor %}

                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Work with C/C++, Python and developer tools such as Git, GDB, Xcode and others as well as familiarity with Django, Rails and Firebase. I have also employed software testing suites, integration and acceptance testing.</p>
                    <p class="large text-muted">Professional, personable, driven and always willing to learn.</p>
                </div>
            </div>
        </div>
    </section>
